/* line 3, ../../../netMatters/Reflections/html_css_reflection/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 12, ../../../netMatters/Reflections/html_css_reflection/scss/base/_base.scss */
body {
  margin: 0px;
  padding: 0px;
  background-color: #dddddd;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

/* line 2, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
.header_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

/* line 8, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
.header_container img {
  width: 201px;
  height: 35px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}

/* line 16, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
.header_container .btn_support {
  display: none;
}

/* line 20, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
.header_container .btn_contact {
  display: none;
}

/* line 24, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
.header_container .fa-bars {
  background-color: #333645;
  margin-right: 15px;
  margin-left: auto;
  margin-top: 5px;
}

/* line 31, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
.header_container .fa-phone {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}

/* line 37, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
.header_container .form1 {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* line 43, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
.header_container form {
  display: flex;
  margin: auto 15px auto 15px;
  width: 100%;
  justify-content: center;
}

/* line 50, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
.header_container .nav_container {
  display: none;
}

@media screen and (min-width: 800px) {
  /* line 59, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container img {
    width: 402px;
    height: 70px;
  }
  /* line 64, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container .btn_contact, .header_container .btn_support {
    display: inline;
    margin: 10px 15px;
    padding: 10px 15px;
    border-radius: 5%;
    font-size: small;
  }
  /* line 71, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container .btn_contact .fa-paper-plane, .header_container .btn_support .fa-paper-plane {
    display: inline;
  }
  /* line 75, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container .btn_contact .fa-mouse, .header_container .btn_support .fa-mouse {
    display: inline;
  }
  /* line 79, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container .btn_contact h2, .header_container .btn_support h2 {
    display: inline;
    margin: auto;
  }
  /* line 85, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container .btn_contact {
    background-color: #999aa2;
  }
  /* line 89, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container .btn_support {
    background-color: #4183d7;
  }
  /* line 93, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container .fa-phone {
    display: none;
  }
  /* line 97, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container .nav_container {
    display: flex;
    background-color: #333645;
    height: 100px;
    width: 100%;
    justify-content: center;
  }
  /* line 103, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container .nav_container .nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    width: auto;
  }
  /* line 109, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container .nav_container .nav > div {
    display: inline;
    padding: auto 10px auto;
    margin: 0px;
    width: 110px;
  }
  /* line 114, ../../../netMatters/Reflections/html_css_reflection/scss/header/_header.scss */
  .header_container .nav_container .nav > div > p {
    text-align: center;
    color: white;
  }
}

/* line 3, ../../../netMatters/Reflections/html_css_reflection/scss/banner/_banner.scss */
.banner_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  margin: 0px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0)), url("/img/home-oaVs.webp");
  background-size: cover;
}

/* line 11, ../../../netMatters/Reflections/html_css_reflection/scss/banner/_banner.scss */
.banner_container .banner_txt {
  max-width: 800px;
}

/* line 13, ../../../netMatters/Reflections/html_css_reflection/scss/banner/_banner.scss */
.banner_container .banner_txt h1 {
  font-size: 250%;
  color: white;
  text-align: center;
}

/* line 19, ../../../netMatters/Reflections/html_css_reflection/scss/banner/_banner.scss */
.banner_container .banner_txt p {
  font-size: 125%;
  font-weight: 400;
  color: white;
  text-align: center;
}

@media screen and (min-width: 800px) {
  /* line 30, ../../../netMatters/Reflections/html_css_reflection/scss/banner/_banner.scss */
  .banner_container .banner_txt h1 {
    font-size: 300%;
    text-align: left;
  }
  /* line 34, ../../../netMatters/Reflections/html_css_reflection/scss/banner/_banner.scss */
  .banner_container .banner_txt p {
    font-size: 150%;
    text-align: left;
  }
}

/* line 4, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_heading {
  padding-left: 30px;
}

/* line 6, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_heading h1 {
  color: #333645;
}

/* line 11, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* line 16, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_bespoke {
  display: grid;
  width: 90%;
  max-width: 450px;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: white;
  border-radius: 5%;
  margin: 0px 30px 10px 30px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/* line 18, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_bespoke .fa-th {
  border: 2px solid #67809f;
  border-radius: 50%;
  background: #67809f;
  padding: 20px;
}

/* line 24, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_bespoke .card_heading {
  color: #333645;
  font-size: 100%;
}

/* line 28, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_bespoke span {
  display: block;
  width: 40px;
  border-top: 2px solid black;
}

/* line 33, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_bespoke .bespoke_text {
  padding: 20px;
  text-align: center;
}

/* line 37, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_bespoke .read_btn {
  padding: 15px;
  color: white;
  background-color: #ce4125;
  border-radius: 10%;
}

/* line 45, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_it {
  display: grid;
  width: 90%;
  max-width: 450px;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: white;
  border-radius: 5%;
  margin: 0px 30px 10px 30px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/* line 47, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_it .fa-th {
  border: 2px solid #67809f;
  border-radius: 50%;
  background: #67809f;
  padding: 20px;
}

/* line 52, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_it .card_heading {
  color: #333645;
  font-size: 100%;
}

/* line 56, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_it span {
  display: block;
  width: 40px;
  border-top: 2px solid black;
}

/* line 61, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_it .it_text {
  padding: 20px;
  text-align: center;
}

/* line 65, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_it .read_btn {
  padding: 15px;
  color: white;
  background-color: #ce4125;
  border-radius: 10%;
}

/* line 73, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_marketing {
  display: grid;
  width: 90%;
  max-width: 450px;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: white;
  border-radius: 5%;
  margin: 0px 30px 10px 30px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/* line 75, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_marketing .fa-th {
  border: 2px solid #67809f;
  border-radius: 50%;
  background: #67809f;
  padding: 20px;
}

/* line 80, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_marketing .card_heading {
  color: #333645;
  font-size: 100%;
}

/* line 84, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_marketing span {
  display: block;
  width: 40px;
  border-top: 2px solid black;
}

/* line 89, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_marketing .it_text {
  padding: 20px;
  text-align: center;
}

/* line 93, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container .services_card_marketing .read_btn {
  padding: 15px;
  color: white;
  background-color: #ce4125;
  border-radius: 10%;
}

/* line 102, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* line 107, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_tele {
  display: grid;
  width: 90%;
  max-width: 450px;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: white;
  border-radius: 5%;
  margin: 0px 30px 10px 30px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/* line 109, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_tele .fa-th {
  border: 2px solid #67809f;
  border-radius: 50%;
  background: #67809f;
  padding: 20px;
}

/* line 115, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_tele .card_heading {
  color: #333645;
  font-size: 100%;
}

/* line 119, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_tele span {
  display: block;
  width: 40px;
  border-top: 2px solid black;
}

/* line 124, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_tele .tele_text {
  padding: 20px;
  text-align: center;
}

/* line 128, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_tele .read_btn {
  padding: 15px;
  color: white;
  background-color: #ce4125;
  border-radius: 10%;
}

/* line 136, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_web {
  display: grid;
  width: 90%;
  max-width: 450px;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: white;
  border-radius: 5%;
  margin: 0px 30px 10px 30px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/* line 138, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_web .fa-th {
  border: 2px solid #67809f;
  border-radius: 50%;
  background: #67809f;
  padding: 20px;
}

/* line 143, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_web .card_heading {
  color: #333645;
  font-size: 100%;
}

/* line 147, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_web span {
  display: block;
  width: 40px;
  border-top: 2px solid black;
}

/* line 152, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_web .web_text {
  padding: 20px;
  text-align: center;
}

/* line 156, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_web .read_btn {
  padding: 15px;
  color: white;
  background-color: #ce4125;
  border-radius: 10%;
}

/* line 164, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_cyber {
  display: grid;
  width: 90%;
  max-width: 450px;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: white;
  border-radius: 5%;
  margin: 0px 30px 10px 30px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/* line 166, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_cyber .fa-th {
  border: 2px solid #67809f;
  border-radius: 50%;
  background: #67809f;
  padding: 20px;
}

/* line 171, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_cyber .card_heading {
  color: #333645;
  font-size: 100%;
}

/* line 175, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_cyber span {
  display: block;
  width: 40px;
  border-top: 2px solid black;
}

/* line 180, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_cyber .cyber_text {
  padding: 20px;
  text-align: center;
}

/* line 184, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_cyber .read_btn {
  padding: 15px;
  color: white;
  background-color: #ce4125;
  border-radius: 10%;
}

/* line 192, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_dev {
  display: grid;
  width: 90%;
  max-width: 450px;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: white;
  border-radius: 5%;
  margin: 0px 30px 10px 30px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/* line 194, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_dev .fa-th {
  border: 2px solid #67809f;
  border-radius: 50%;
  background: #67809f;
  padding: 20px;
}

/* line 199, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_dev .card_heading {
  color: #333645;
  font-size: 100%;
}

/* line 203, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_dev span {
  display: block;
  width: 40px;
  border-top: 2px solid black;
}

/* line 208, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_dev .dev_text {
  padding: 20px;
  text-align: center;
}

/* line 212, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
.services_container .services_card_container_row_2 .services_card_dev .read_btn {
  padding: 15px;
  color: white;
  background-color: #ce4125;
  border-radius: 10%;
}

@media screen and (min-width: 1024px) {
  /* line 227, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
  .services_container .services_card_container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15%;
    padding-right: 15%;
  }
  /* line 232, ../../../netMatters/Reflections/html_css_reflection/scss/middle/_services.scss */
  .services_container .services_card_container_row_2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 15%;
    padding-right: 15%;
  }
}

/*# sourceMappingURL=main.css.map */