// News

.news_container {
    display: grid;
    padding: 20px 2%;
    width: 100%;
    justify-content: center;
    .headings {
        display: flex;
        justify-content: space-between;
        color: #333645;

        h1 {
            font-size: 2.2rem;
        }
        
        a {
            display: none;
            text-decoration: none;
            color: #333645;
        }   
    }

    .view_top {

        font-size: 1.8rem;

        a {
            text-decoration: none;
        }
    }

    .view_bottom {
        text-align: center;
        a {
        text-decoration: none;
        color: #333645;        
        }
    }

    .article_cards {
        display: grid;
        width: 100%;
        max-width: 540px;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        .article_1 {
            display: block;
            background-color: white;
            width: 100%;
            height: auto;
            margin: 15px auto;
            border: 1px solid rgba(black, 0.2);
            position: relative;
            transition: transform 0.5s ease-in-out;
            box-shadow: 0px 0px 30px rgba(#000, 0.1);
            cursor: pointer;
            img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }

            .img_flag_a {
                position: absolute;
                top: 10px;
                right: 0px;
                padding: 3px 6px;
                background-color: #d64541;
                a {
                    text-decoration: none;
                    color: white;
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            .article_text_wrapper {
                padding: 20px;
                .article_btn_1 {
                    display: inline-block;
                    padding: 15px 20px;
                    background-color: #d64541;
                    border-radius: 6px;
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }

                h3 {
                    font-size: 1.05rem;
                    color: #d64541;
                }

                p {
                    font-size: 0.9rem;
                    color: #333645;
                }
                
                .horizontal_line {
                    text-align: center;
                    span {
                        display: inline-block;
                        justify-self: center;
                        width: 100%;
                        border-top: 1px solid rgba(#000000, 0.3);
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                
                .article_footer {
                    display: grid;
                    grid-template-columns: 1fr 5fr;
                    .logo {
                        display: inline-block;
                        width: 55px;
                       
                    }

                    .details {
                        display: inline-block;
                        margin-left: 15px;
                        margin-top: auto;
                        margin-bottom: auto;
                        text-align: left;

                        p {
                            margin: 0px;
                        }

                        .author {
                            display: block;
                            margin: 0px;
                            color: #333645;
                            font-weight: bold;
                        }

                        .date {
                            display: block;
                            margin: 0px;
                            color: #666;
                        }
                    }

                }
                
            }
        }
        .article_2 {
            display: block;
            background-color: white;
            width: 100%;
            height: auto;
            margin: 15px auto;
            border: 1px solid rgba(black, 0.2);
            position: relative;
            transition: transform 0.5s ease-in-out;
            box-shadow: 0px 0px 30px rgba(#000, 0.1);
            cursor: pointer;
            img {
                object-fit: cover;
                width: 100%;
            }

            .img_flag_b {
                position: absolute;
                top: 10px;
                right: 0px;
                padding: 3px 6px;
                background-color: #926fb1;
                a {
                    text-decoration: none;
                    color: white;
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            .article_text_wrapper {
                padding: 20px;
                .article_btn_2 {
                    display: inline-block;
                    padding: 15px 20px;
                    background-color: #926fb1;
                    border-radius: 6px;
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }

                h3 {
                    font-size: 1.05rem;
                    color: #926fb1;
                }

                p {
                    font-size: 0.9rem;
                    color: #333645;
                }
                .horizontal_line {
                    text-align: center;
                    span {
                        display: inline-block;
                        justify-self: center;
                        width: 100%;
                        border-top: 1px solid rgba(#000000, 0.3);
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                .article_footer {
                    display: grid;
                    grid-template-columns: 1fr 5fr;
                    .logo {
                        display: inline-block;
                        width: 55px;
                       
                    }

                    .details {
                        display: inline-block;
                        margin-left: 15px;
                        margin-top: auto;
                        margin-bottom: auto;
                        text-align: left;

                        p {
                            margin: 0px;
                        }

                        .author {
                            display: block;
                            margin: 0px;
                            color: #333645;
                            font-weight: bold;
                        }

                        .date {
                            display: block;
                            margin: 0px;
                            color: #666;
                        }
                    }

                }
            }
        }
        .article_3 {
            display: block;
            background-color: white;
            width: 100%;
            height: auto;
            margin: 15px auto;
            border: 1px solid rgba(black, 0.2);
            position: relative;
            transition: transform 0.5s ease-in-out;
            box-shadow: 0px 0px 30px rgba(#000, 0.1);
            cursor: pointer;
            img {
                object-fit: cover;
                width: 100%;
            }
            .img_flag_c {
                position: absolute;
                top: 10px;
                right: 0px;
                padding: 3px 6px;
                background-color: #67809f;
                a {
                    text-decoration: none;
                    color: white;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
            .article_text_wrapper {
                padding: 20px;
                .article_btn_3 {
                    display: inline-block;
                    padding: 15px 20px;
                    background-color: #67809f;
                    border-radius: 6px;
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }

                h3 {
                   font-size: 1.05rem;
                   color: #67809f;
                }

                p {
                    font-size: 0.9rem;
                    color: #333645;
                }
                .horizontal_line {
                    text-align: center;
                    span {
                        display: inline-block;
                        justify-self: center;
                        width: 100%;
                        border-top: 1px solid rgba(#000000, 0.3);
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
                .article_footer {
                    display: grid;
                    grid-template-columns: 1fr 5fr;
                    .logo {
                        display: inline-block;
                        width: 55px;
                       
                    }

                    .details {
                        display: inline-block;
                        margin-left: 15px;
                        margin-top: auto;
                        margin-bottom: auto;
                        text-align: left;

                        p {
                            margin: 0px;
                        }

                        .author {
                            display: block;
                            margin: 0px;
                            color: #333645;
                            font-weight: bold;
                        }

                        .date {
                            display: block;
                            margin: 0px;
                            color: #666;
                        }
                    }

                }
            }
            
        }
    }
}

// Hover States

.news_container {

    .headings {
        .view_top_heading {
            .view_top:hover {
                text-decoration: underline;
            }
        }
        
    }

    .headings {
        .view_bottom {
            a:hover {
                text-decoration: underline;
            }
        }
    }
    

    .article_cards {
        .article_1:hover {
            transform: translateY(-10px);
            
        }

        .article_2:hover {
            transform: translateY(-10px);
            transition: transform 0.5s ease-in-out;
        }

        .article_3:hover {
            transform: translateY(-10px);
            transition: transform 0.5s ease-in-out;
        }
    }
}

// Media Queries

@media screen and (min-width: 1070px) {
    .news_container {
        .headings {
            margin: auto 15px;
            a {
                display: inline;
            }
        }

        .view_bottom {
            display: none;
        }
            .article_cards {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                justify-items: center;
                width: 1050px;
                max-width: none;


            .article_1 {
                width: 500px;
            }
            .article_2 {
                display: inline;
                width: 500px;
            }
            .article_3 {
                display: none;
            }
        }

    }
}

@media screen and (min-width: 1260px) {
    .news_container {
        .article_cards {
            grid-template-columns: 1fr 1fr 1fr;
            width: 1050px;
            justify-items: center;

            .article_1 {
                display: inline;
                width: 340px;
            }

            .article_2 {
                display: inline;
                width: 340px;
            }

            .article_3 {
                display: inline;
                width: 340px;
            }
        }

    }
}

@media screen and (min-width: 1640px) {
    .news_container {
        .headings {
            margin: auto 30px;
        }
        .article_cards {
            width: 1200px;
            justify-items: center;
            .article_1 {
                display: inline;
                width: 390px;
            }
            .article_2 {
                display: inline;
                width: 390px;
            }
            .article_3 {
                display: inline;
                width: 390px;
            }
        }

    }
}

