// News

.news_container {
    display: grid;
    padding: 40px 10%;
    .headings {
        display: flex;
        justify-content: space-between;
        
        a {
            display: none;
            text-decoration: none;
            color: black;
        }
    }

    .article_cards {
        display: grid;
        width: 100%;
        justify-content: center;
        grid-template-columns: 1fr;

        .article_1 {
            display: inline;
            background-color: white;
            max-width: 455px;
            width: 100%;
            height: 550px;
            img {
                object-fit: cover;
                max-width: 455px;
                width: 100%;
            }
            .article_btn_1 {
                display: inline;
                padding: 20px;
                background-color: #d64541;
                border-radius: 6px;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            p, h3 {
                color: #333645;
            }
            span {
                display: inline-block;
                justify-self: center;
                width: 80%;
                border-top: 1px solid rgba(#000000, 0.3);
            }

            .logo {
                display: block;
                width: 100px;
            }
        }
        .article_2 {
            display: none;
            background-color: white;
            max-width: 455px;
            width: 100%;
            height: 550px;
            img {
                object-fit: cover;
                max-width: 455px;
                width: 100%;
            }
            .article_btn_2 {
                display: inline;
                padding: 20px;
                background-color: #d64541;
                border-radius: 6px;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            p, h3 {
                color: #333645;
            }
            span {
                display: inline-block;
                justify-self: center;
                width: 80%;
                border-top: 1px solid rgba(#000000, 0.3);
            }
            .logo {
                width: 100px;
            }
        }
        .article_3 {
            display: none;
            background-color: white;
            max-width: 455px;
            width: 100%;
            height: 550px;
            img {
                object-fit: cover;
                max-width: 455px;
                width: 100%;
            }
            .article_btn_3 {
                display: inline;
                padding: 20px;
                background-color: #d64541;
                border-radius: 6px;
                a {
                    text-decoration: none;
                    color: white;
                }
            }
            p, h3 {
                color: #333645;
            }
            span {
                display: inline-block;
                justify-self: center;
                width: 80%;
                border-top: 1px solid rgba(#000000, 0.3);
            }
            .logo {
                width: 100px;
            }
        }
    }
}

// Media Queries

@media screen and (min-width: 766px) {
    .news_container {
        .headings {
            a {
                display: inline;
            }
        }
            .article_cards {
                grid-template-columns: 1fr 1fr;
            .article_2 {
                display: inline;
            }
        }

    }
}

@media screen and (min-width: 1850px) {
    .news_container {
        .article_cards {
            grid-template-columns: 1fr 1fr 1fr;
            .article_3 {
                display: inline;
            }
        }

    }
}

