// header
.header_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #333645;

    ul {
        display: none;
    }
}
    .header_section_1 {
        display: flex;
        justify-content: center;
        padding: 0px 15%;
        img {
            width: 201px;
            height: 35px;
            margin-top: auto;
            margin-bottom: auto; 
            margin-right: 15px;
        }
    
        .btn_support {
            display: none;
            
        }
    
        .btn_contact {
            display: none;

        }
    
        .fa-bars {
            background-color: #333645;
            margin-right: 15px;
        }
    
        .fa-phone {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 15px;
        }
        
        .form1 {
            display: flex;
            width: 100%;
        }
    
        form {
            display: flex;
            margin: auto 15px auto 15px;
            width: 100%;  
            
            input[type=submit] {
                background-color: #333645;
                color: white;
                padding: 15px 18px;
                border-radius: 6px;
                margin: 20px 0px;
                border-style: none; 
            }
        } 
    }



// Header Media Queries
@media screen and (min-width: 1067px) {
    .header_section_1 {
        img {
            width: 402px;
            height: 70px;
        }   

        .btn_contact, .btn_support {
            display: inline;
            width: 200px;
            height: 70px;
            margin: 10px 15px;
            padding: 15px 15px;
            border-radius: 5%;
            font-size: small;
            text-align: center;
            white-space: nowrap;

            a {
                text-decoration: none;
                color: white;
            }

            .fa-paper-plane {
                display: inline;
                margin-right: 5px;
            }

            .fa-mouse {
                display: inline;
                margin-right: 5px;
            }

            span {
                display: inline;
                margin: auto;
            }
        }

        .btn_contact {
            background-color: #999aa2;
        }

        .btn_support {
            background-color: #4183d7;
        }

        #phone {
            display: none;
        }
    }
// Nav bar
        .header_container {
            ul {
                display: inline;
                width: 150px;
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                text-align: center;
                
                // icon styles
                .fa-th {
                    display: block;
                    color: #67809f;
                }

                .fa-desktop {
                    display: block;
                    color: #4183d7;
                }

                .fa-bar-chart {
                    display: block;
                    color: #2ecc71;
                }

                .fa-phone {
                    display: block;
                    color: #d64541;
                    margin-right: 0px;
                }

                .fa-code {
                    display: block;
                    color: #926fb1;
                }

                .fa-shield {
                    display: block;
                    color: #f62459;
                }

                .fa-graduation-cap {
                    display: block;
                    color: #ce4125;
                }
        
                small {
                    display: block;
                    color: white;
                    margin-bottom: 0px;
                    margin-top: 10px;
                    font-size: 0.7rem;
                }
        
                p {
                    display: block;
                    color: white;
                    margin: 0px 5px;
                }
        
                li {
                    list-style: none;
                    position: relative;
                    padding-top: 10px;
                    
                    a {
                        color: white;
                        text-decoration: none;
                    }

                    ul {
                        border-radius: 0px 0px 6px 6px;
                        li {
                            padding: 10px;

                            a {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }

                .software {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                .it {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                .marketing {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                .telecoms {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                .web {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                .cyber {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                .dev {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                // software dropdown
                .nav_dropdown_software {
                    display: none;
                    position: absolute;
                    background-color: #526781;
                    top: 100%;
                }

                li:hover .nav_dropdown_software {
                    display: block;
                }

                .software:hover {
                    background-color: #67809f;
                    a {
                        .fa-th {
                            color: white;
                        }
                    }
                }

                //IT dropdown
                .nav_dropdown_it {
                    display: none;
                    position: absolute;
                    background-color: #286abd;
                    top: 100%;
                }

                li:hover .nav_dropdown_it {
                    display: block;
                }

                .it:hover {
                    background-color: #4183d7;
                    .fa-desktop {
                        color: white;
                    }
                }
                
                //marketing dropdown
                .nav_dropdown_marketing {
                    display: none;
                    position: absolute;
                    background-color: #25a25a;
                    top: 100%;
                }

                li:hover .nav_dropdown_marketing {
                    display: block;
                }

                .marketing:hover {
                    background-color: #2ecc71;
                    .fa-bar-chart {
                        color: white;
                    }
                }

                //telecoms dropdown
                .nav_dropdown_telecoms {
                    display: none;
                    position: absolute;
                    background-color: #bc2c28;
                    top: 100%;
                }

                li:hover .nav_dropdown_telecoms {
                    display: block;
                }

                .telecoms:hover {
                    background-color: #d64541;
                    .fa-phone {
                        color: white;
                    }
                }

                //web dropdown
                .nav_dropdown_web {
                    display: none;
                    position: absolute;
                    background-color: #79539a;
                    top: 100%;
                }

                li:hover .nav_dropdown_web {
                    display: block;
                }

                .web:hover {
                    background-color: #926fb1;
                    .fa-code {
                        color: white;
                    }
                }

                //cyber dropdown
                .nav_dropdown_cyber {
                    display: none;
                    position: absolute;
                    background-color: #de093f;
                    top: 100%;
                }

                li:hover .nav_dropdown_cyber {
                    display: block;
                }

                .cyber:hover {
                    background-color: #f62459;
                    .fa-shield {
                        color: white;
                    }
                }

                //dev dropdown
                .nav_dropdown_dev {
                    display: none;
                    position: absolute;
                    background-color: #a3331d;
                    top: 100%;
                }

                li:hover .nav_dropdown_dev {
                    display: block;
                }

                .dev:hover {
                    background-color: #ce4125;
                    .fa-graduation-cap {
                        color: white;
                    }
                }

               }
        }
    } 
