// header
.header_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;

    img {
        width: 201px;
        height: 35px;
        margin-top: auto;
        margin-bottom: auto; 
        margin-right: 15px;   
    }

    .btn_support {
        display: none;
    }

    .btn_contact {
        display: none;
    }

    .fa-bars {
        background-color: #333645;
        margin-right: 15px;
        margin-left: auto;
        margin-top: 5px;
    }

    .fa-phone {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 15px;
    }
    
    .form1 {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    form {
        display: flex;
        margin: auto 15px auto 15px;
        width: 100%;   
        justify-content: center;     
    } 

    .nav_container {
        display: none;
    }
}


// Header Media Queries
@media screen and (min-width: 800px) {
    .header_container {
        img {
            width: 402px;
            height: 70px;
        }   

        .btn_contact, .btn_support {
            display: inline;
            margin: 10px 15px;
            padding: 10px 15px;
            border-radius: 5%;
            font-size: small;

            .fa-paper-plane {
                display: inline;
            }

            .fa-mouse {
                display: inline;
            }

            h2 {
                display: inline;
                margin: auto;
            }
        }

        .btn_contact {
            background-color: #999aa2;
        }

        .btn_support {
            background-color: #4183d7;
        }

        .fa-phone {
            display: none;
        }
// Nav bar
        .nav_container {
            display: flex;
            background-color: #333645;
            height: 100px;
            width: 100%;
            justify-content: center;
            .nav {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(7, 1fr);
                width: auto;
                
                a {
                    display: inline;
                    text-decoration: none;
                    text-align: center;
                    padding: 10px 10px;
                    margin: 0px;
                    width: 110px;
                    > div {
                        > p {
                            color: white;
                            margin: 5px auto;
                        }
                        .small_txt {
                            font-size: 70%;
                        }
    
                        .fa-th {
                            padding: 5px;
                            color: #67809f;
                        }
    
                        .fa-desktop {
                            padding: 5px;
                            color: #4183d7;
                        }
    
                        .fa-bar-chart {
                            padding: 5px;
                            color: #2ecc71;
                        }
    
                        .fa-phone {
                            padding: 5px;
                            color: #d64541;
                        }
    
                        .fa-code {
                            padding: 5px;
                            color: #926fb1;
                        }
    
                        .fa-shield {
                            padding: 5px;
                            color: #f62459;
                        }
    
                        .fa-graduation-cap {
                            padding: 5px;
                            color: #ce4125;
                        }
                    }
                }
                //Bespoke Dropdown

                .bespoke_drop {
                    display: none;
                    background: #526781;
                    position: absolute;
                    width: 110px;
                    top: 197px;
                    border-radius: 0px 0px 6px 6px;
                    a {
                        display: block;
                        text-decoration: none;
                        color: white;
                        font-size: 0.8rem;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }

                

              


                .bespoke_link:hover + .bespoke_drop {
                    display: block;
                }

                .bespoke_drop:hover {
                    display: block;
                }

                .bespoke_container:hover  .bespoke_link {
                    background-color: #67809f;
                }



            }
        }
    } 
}