// header
.header_container {
    display: flex;
    justify-content: center;
    background-color: #333645;

    ul {
        display: none;
    }
}
    .header_section_1 {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px 2%;
        margin: 0px;
        
        .header_top {
            display: flex;
            justify-content: center;
            margin: 15px 0px;

            .logo_container {
                display: inline-block;
                margin-right: auto;
                margin-left: 0px;
                img {
                    width: 90%;
                    height: 90%;
                    margin-top: 5px;
                    margin-bottom: auto; 
                    margin-right: 15px;
                    margin-left: auto;
                }
            }
            
        
            .btn_support {
                display: none;
                
            }
        
            .btn_contact {
                display: none;
    
            }
            
            .hamburger_link {
                display: inline-block;
                .fa-bars {
                    display: inline-block;
                    background-color: #333645;
                    margin: auto auto auto 0px;
                    border-style: none;
                }

                .fa-bars:hover {
                    background-color: #22242e;
                }
            }
            
        
            .fa-phone {
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 15px;
            }
            
            .form1 {
                display: flex;
                margin-right: 15px;
            }
        
            .form_top {
                display: none;
                margin: auto 0px auto 15px;
                width: 100%;  
    
                input[type=text] {
                    display: inline-block;
                    height: 60px;
                    width: 240px;
                    font-size: 1.2rem;
                    padding-left: 20px;
                }

                input[type=text]:focus, textarea:focus {
                    outline: none;
                    box-shadow: 0 0 10px #9ecaed;
                }
                
                input[type=submit] {
                    padding: 15px 15px;
                    margin: 0px 0px;
                    border-style: none; 
                }

                #search_submit1:hover {
                    background-color: #6b6e7c;
                }
    
                #search_submit1 {
                    width: 60px;
                    height: 60px;
                    border-radius: 0px 3px 3px 0px;
                    color: white;
                    background-color: #999aa2;
                    border-style: none;
                }
            } 
        }
        
        .header_bottom {
            display: flex;
            margin: 0px;
            justify-content: center;
            .form_bottom {
                display: flex;
                margin: auto auto 20px; 
                width: 100%;
    
                input[type=text] {
                    display: inline-block;
                    height: 60px;
                    width: 100%;
                    font-size: 1.2rem;
                    padding-left: 20px;
                    outline: 1px solid hsla(0,0%,100%,.2);
                    border-style: none;
                    
                }
                
                input[type=submit] {
                    padding: 15px 15px;
                    margin: 0px;
                    border-style: none; 
                }

                #search_field2 {
                background-color: rgba(0,0,0,.1);
                }
    
                #search_submit2 {
                    width: 60px;
                    height: 60px;
                    border-radius: 0px 3px 3px 0px;
                    color: white;
                    background-color: #999aa2;
                    border-style: none;
                }
            } 
        }
        
    }

    // Hover States

    .header_section_1 {
        .header_top {
            .support_link:hover .btn_support {
                background-color: #286abd;
            }
    
            .contact_link:hover .btn_contact {
                background-color: #6b6e7c;
            }
        }
    }
    


// Header Media Queries

@media screen and (min-width: 768px) {
    .header_section_1 {
        .header_top {
            margin: 15px auto;
            flex-wrap: nowrap;
        .fa-phone {
            display: none;
        }

        .form_top {
            display: flex;
            input[type=text] {
                display: inline;
            }

            #search_submit1 {
                border-radius: 3px;
            }
        }
        }
        
        .header_bottom {
            .form_bottom {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1067px) {
    .header_section_1 {
        padding: 0px 10%;
        .header_top {
            .logo_container {
                display: inline-block;
                padding-top: 15px;
                img {
                    width: 402px;
                    height: 70px;
                    margin-top: auto;
                    margin-bottom: auto; 
                    margin-right: 15px;
                    margin-left: auto;
                }
            }
            
            .support_link {
                display: inline;
                text-decoration: none;
                color: white;
                margin: auto;
                .btn_support {
                    display: inline;
                    width: 150px;
                    height: 50px;
                    margin: auto 5px;
                    padding: 20px 15px;
                    border-radius: 3px;
                    font-size: small;
                    text-align: center;
                    white-space: nowrap;
                    background-color: #4183d7;

                    .fa-mouse {
                        display: inline;
                        margin-right: 5px;
                        vertical-align: middle;
                    }

                    span {
                        display: inline;
                        margin: auto;
                        font-size: 1.1rem;
                    }
                }
            }
            
            .contact_link {
                display: inline;
                text-decoration: none;
                color: white;
                margin: auto;
                .btn_contact {
                    display: inline;
                    width: 150px;
                    height: 60px;
                    margin: auto 5px;
                    padding: 20px 15px;
                    border-radius: 3px;
                    font-size: small;
                    text-align: center;
                    white-space: nowrap;
                    background-color: #999aa2;

                    .fa-paper-plane {
                        display: inline;
                        margin-right: 5px;
                        vertical-align: middle;
                    }

                    span {
                        display: inline;
                        margin: auto;
                        font-size: 1.1rem;
                    }
                }
            }

            .fa-bars {
                transform: translateY(12px);
            }
        }

            .form_top {
                display: flex;
                #search_field1 {
                    display: none;
                }
    
                #search_submit1 {
                    border-radius: 3px;
                }
            }

            #phone {
                display: none;
            }
        }
        
// Nav bar
        .header_container {
            ul {
                display: inline;
                width: 130px;
                margin: 0px 0px 0px 0px;
                padding: 0px 0px 0px 0px;
                text-align: center;
                
                // icon styles
                .fa-th {
                    display: block;
                    color: #67809f;
                }

                .fa-desktop {
                    display: block;
                    color: #4183d7;
                }

                .fa-bar-chart {
                    display: block;
                    color: #2ecc71;
                }

                .fa-phone {
                    display: block;
                    color: #d64541;
                    margin-right: 0px;
                }

                .fa-code {
                    display: block;
                    color: #926fb1;
                }

                .fa-shield {
                    display: block;
                    color: #f62459;
                }

                .fa-graduation-cap {
                    display: block;
                    color: #ce4125;
                }
        
                small {
                    display: block;
                    color: white;
                    margin-bottom: 0px;
                    margin-top: 10px;
                    font-size: 0.7rem;
                }
        
                p {
                    display: block;
                    color: white;
                    margin: 0px 5px;
                }
        
                li {
                    list-style: none;
                    position: relative;
                    padding-top: 10px;
                    
                    a {
                        color: white;
                        text-decoration: none;
                    }

                    ul {
                        a:hover {
                            text-decoration: underline;
                        }
                    }

                    
                    ul {
                        border-radius: 0px 0px 6px 6px;
                        li {
                            padding: 10px;

                            a {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }

                .software {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;

                }

                .it {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;

                }

                .marketing {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;

                }

                .telecoms {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;

                }

                .web {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;

                }

                .cyber {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;

                }

                .dev {
                    height: 100px;
                    padding-top: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;

                }

                // software dropdown
                .nav_dropdown_software {
                    display: none;
                    position: absolute;
                    background-color: #526781;
                    top: 100%;
                }

                li:hover .nav_dropdown_software {
                    display: block;
                }

                .software:hover {
                    background-color: #67809f;
                    a {
                        .fa-th {
                            color: white;
                        }
                    }
                }

                //IT dropdown
                .nav_dropdown_it {
                    display: none;
                    position: absolute;
                    background-color: #286abd;
                    top: 100%;
                }

                li:hover .nav_dropdown_it {
                    display: block;
                }

                .it:hover {
                    background-color: #4183d7;
                    .fa-desktop {
                        color: white;
                    }
                }
                
                //marketing dropdown
                .nav_dropdown_marketing {
                    display: none;
                    position: absolute;
                    background-color: #25a25a;
                    top: 100%;
                }

                li:hover .nav_dropdown_marketing {
                    display: block;
                }

                .marketing:hover {
                    background-color: #2ecc71;
                    .fa-bar-chart {
                        color: white;
                    }
                }

                //telecoms dropdown
                .nav_dropdown_telecoms {
                    display: none;
                    position: absolute;
                    background-color: #bc2c28;
                    top: 100%;
                }

                li:hover .nav_dropdown_telecoms {
                    display: block;
                }

                .telecoms:hover {
                    background-color: #d64541;
                    .fa-phone {
                        color: white;
                    }
                }

                //web dropdown
                .nav_dropdown_web {
                    display: none;
                    position: absolute;
                    background-color: #79539a;
                    top: 100%;
                }

                li:hover .nav_dropdown_web {
                    display: block;
                }

                .web:hover {
                    background-color: #926fb1;
                    .fa-code {
                        color: white;
                    }
                }

                //cyber dropdown
                .nav_dropdown_cyber {
                    display: none;
                    position: absolute;
                    background-color: #de093f;
                    top: 100%;
                }

                li:hover .nav_dropdown_cyber {
                    display: block;
                }

                .cyber:hover {
                    background-color: #f62459;
                    .fa-shield {
                        color: white;
                    }
                }

                //dev dropdown
                .nav_dropdown_dev {
                    display: none;
                    position: absolute;
                    background-color: #a3331d;
                    top: 100%;
                }

                li:hover .nav_dropdown_dev {
                    display: block;
                }

                .dev:hover {
                    background-color: #ce4125;
                    .fa-graduation-cap {
                        color: white;
                    }
                }

               }
        }
    } 

@media screen and (min-width: 1260px) {
    .header_section_1 {
        .header_top {
            .form_top {
                #search_field1 {
                    display: inline-block;
                }
    
                #search_submit1 {
                    border-radius: 0px 3px 3px 0px;
                }
            }
        }     
    }

    .header_container {
        ul {
            width: 179px;            
        }
    }
}