// Banner

.banner_container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: 0px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0)), url("/img/home-oaVs.webp");
    background-size: cover;
    .banner_txt {
        max-width: 70%;
        padding: 50px 20px;
        h1 {
            font-size: 2.3rem;
            color: white;
            text-align: center;
            margin-top: 0px;
        }

        p {
            font-size: 125%;
            font-weight: 400;
            color: white;
            text-align: center;
        }
    }
}
@media screen and (min-width: 800px) {
    .banner_container {
        .banner_txt {
            h1 {
                font-size: 3rem;
                text-align: left;
            }
            p {
                font-size: 1.5rem;
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .banner_container {
        .banner_txt {
            h1 {
                font-size: 4rem;
                text-align: left;
            }
            p {
                font-size: 1.625rem;
                text-align: left;
            }
        }
    }
}