// Text Section

.txt_section_container {
    background-color: #333645;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 2%;
    justify-items: center;
    .txt_group_1 {
        display: inline-block;
        margin: 20px;
        max-width: 540px;
        
        h2 {
            font-size: 2.1rem;
            color: white;
        }

        p {
            color: white;
            margin: 0px 0px 25px;
            line-height: 2;
        }

        .p_bold {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }

        .read_btn {
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 25px;
            padding: 10px 20px;
            background-color: #272936;
            color: white;
            font-size: 1.4rem;
            border-radius: 6px;
        }

        .read_btn_link:hover .read_btn {
            background-color: #121318;
        }
    }

    .txt_group_2 {
        display: inline-block;
        margin: 20px;
        max-width: 540px;
        h2 {
            font-size: 2.1rem;
            color: white;
        }

        p {
            margin: 25px 0px 25px;
            color: white;
            white-space: pre-line;
        }

        .fa-star {
            color: orange;
        }

        .star {
            display: flex;
            justify-content: left;
        }

        .quote {
            font-family: 'Poppins', sans-serif;
            font-size: 1.3rem;
            font-weight: 600;
            font-style: italic;
        }

        .quote_name {
            color: #a3a8ac;
            font-size: 1.2rem;
            font-weight: 600;
        }

        .review_buttons {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            text-align: center;

            .greview_link {
                text-decoration: none;
                .greview {
                    display: block;
                    width: 95%;
                    color: white;
                    font-size: 1.2rem;
                    text-align: center;
                    padding: 15px 20px;
                    margin: 15px auto auto auto;
                    background-color: #4387f6;
                    border-radius: 6px;
                    white-space: nowrap;
                }
            }

            .greview_link:hover .greview {
                background-color: #166af4;
            }

           
            
            .treview_link {
                text-decoration: none;
                .treview {
                    display: block;
                    width: 95%;
                    color: white;
                    font-size: 1.2rem;
                    text-align: center;
                    padding: 15px 20px;
                    margin: 15px auto auto auto;
                    background-color: #00b67b;
                    border-radius: 6px;
                    white-space: nowrap;
                }
            }
            
            .treview_link:hover .treview {
                background-color: #009b69;
            }
           
            
        }
    }


}

//Media Queries

@media screen and (min-width: 600px) {
    .txt_section_container {
        .txt_group_2 {
            .review_buttons {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media screen and (min-width: 1070px) {
    .txt_section_container {
       
        grid-template-columns:repeat(2, 525px);
        justify-content: center;
    } 
        .txt_group_1 {
            margin-right: 40px;
        }
        .txt_group_2 {
            margin-left: 40px;
        }   
}

@media screen and (min-width: 1640px) {
    .txt_section_container {
        grid-template-columns:repeat(2, 600px);
        justify-content: center;
    } 

}