// Text Section

.txt_section_container {
    background-color: #333645;
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px 15%;
    .txt_group_1 {
        margin: 20px;
        h2 {
            color: white;
        }

        p {
            color: white;
            margin: 0px 0px 25px;
        }

        .p_bold {
            font-weight: bold;
        }

        .read_btn {
            display: inline;
            margin-top: 25px;
            margin-bottom: 25px;
            padding: 20px;
            background-color: #272936;
            color: white;
            border-radius: 6px;
        }
    }

    .txt_group_2 {
        margin: 20px;
        h2 {
            color: white;
        }

        p {
            color: white;
        }

        .fa-star {
            color: orange;
        }

        .star {
            display: flex;
            justify-content: center;
        }

        .quote {
            font-style: italic;
            font-weight: bold;
        }

        .review_buttons {
            display: grid;
            grid-template-columns: 1fr;
            .greview {
                display: inline;
                width: 100%;
                text-align: center;
                padding: 20px;
                background-color: #4387f6;
                border-radius: 6px;
            }
            .treview {
                display: inline;
                text-align: center;
                padding: 20px;
                background-color: #00b67b;
                border-radius: 6px;
            }
        }
    }


}

//Media Queries

@media screen and (min-width: 600px) {
    .txt_section_container {
        .txt_group_2 {
            .review_buttons {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .txt_section_container {
        grid-template-columns: 1fr 1fr;
    } 
        .txt_group_1 {
            margin-right: 40px;
        }
        .txt_group_2 {
            margin-left: 40px;
        }   
}