// Mixins

// Services card

@mixin service_card {
    display: grid;
    justify-items: center;
    background-color: white;
    border: 1px solid rgba(#000000, 0.3);
    border-radius: 5%;
    margin: 20px;
    padding: 30px;
    max-width: 450px;
    box-shadow: 0 3px 35px rgba(#000, 0.1);
    transition: transform 0.5s ease-in-out, background-color 0.5s, color 0.5s;
}