// Mixins

// Services card

@mixin service_card {
    display: grid;
    justify-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: fit-content;
    margin: 15px;
    padding: 20px 30px;
    box-shadow: 0 3px 35px rgba(#000, 0.1);
    transition: transform 0.5s ease-in-out, background-color 0.5s, color 0.5s;
    cursor: pointer;
}