// Mixins

// Services card

@mixin service_card {
    display: grid;
    width: 90%;
    max-width: 450px;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: white;
    border: 1px solid rgba(#000000, 0.3);
    border-radius: 5%;
    margin: 20px 30px 20px 30px;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(#000, 0.2);
}