// Footer Section

.footer_background {
    background-color: #333645;
    padding: 47px 0px 43px;
    .footer_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "about services"
            "cambridge wymondham"
            "yarmouth yarmouth";
        justify-content: center;
        margin: auto 2%;
        
            .footer {
                display: block;
                margin: 10px auto;
                padding: 10px;
                
            }

            .footer > h3 {
                color: white;
                font-weight: normal;
                font-size: 0.95rem;
            }
        
            .footer > a {
                display: block;
                margin: 0px 0px;
                text-decoration: none;
                color: white;
                font-size: 0.9rem;
            }

            .footer > .tel {
                display: inline-block;
                margin: 0px 0px;
                text-decoration: none;
                color: white;
                font-size: 0.9rem;
            }
            
            .footer > a:hover {
                text-decoration: underline;
            }
        
            .footer > p {
                margin: 0px 0px;
                color: white;
                font-size: 0.9rem;
            }

            .footer > span {
                margin: 0px 0px;
                color: white;
                font-size: 0.9rem; 
            }
    
            .about {
                grid-area: about;
            }
    
            .services {
                grid-area: services;
            }
    
            .cambridge {
                grid-area: cambridge;
            }
    
            .wymondham {
                grid-area: wymondham;
            }
    
            .yarmouth {
                grid-area: yarmouth;
            }
        
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        margin: auto 10%;
        color: white;
        font-weight: normal;
        font-size: 0.8rem;
        padding-top: 10px;
        border-top: 1px solid #888;

        .license {
            display: inline-flex;
            flex-wrap: wrap;
            width: 70%;

            .rights_hidden {
                display: none;
            }
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 0.8rem;
        }

        a:hover {
            text-decoration: underline;
        }

        .social {
            div {
                display: inline;
                border-radius: 50%;
                text-align: center;
                vertical-align: middle;

                a {
                    text-decoration: none;
                }
            }
            
            .facebook {
                padding: 5px 8px;
            }

            .twitter {
                padding: 5px 6px;
            }

            .insta {
                padding: 5px 6px;
            }

            .linkedin {
                padding: 5px 8px;
            }

            .facebook:hover {
                background-color: #4267B2;
            }

            .twitter:hover {
                background-color: #1DA1F2;
            }

            .insta:hover {
                background-color:  #f2003c;
            }

            .linkedin:hover {
                background-color:  #0072b1;
            }
        }
    }
}

// Media Queries

@media screen and (min-width: 722px) {
    .footer_background {
        .footer_container {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                "about about about services services services"
                "cambridge cambridge wymondham wymondham yarmouth yarmouth";
            margin: auto 10%; 
        }

        .bottom {
            .license {
                    .rights_hidden {
                        display: inline-block;
                    }

                    .rights_bottom {
                        display: none;
                    }
            }
        }
    }
}

@media screen and (min-width: 1260px) {
    .footer_background {
        .footer_container {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "about services cambridge wymondham yarmouth";
                
        }
    }
}