// Base Styles

* {
    box-sizing: border-box;

}

div {
   //outline: 1px solid red;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;

    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

