// News Signup Form

.form_background {
    background-color: #ddd;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
    .form_container {
        display: block;
        justify-items: center;
        margin: auto auto;
        width: 100%;
        max-width: 540px;
        #newsletter_form {
            display: block;
            justify-content: center;
            fieldset {
                border: none;
                margin: 0px;
                padding: 0px;
                legend {
                    font-size: 200%;
                    color: #333645;

                }
                .input_container {
                    display: grid;
                    grid-template-columns: 1fr;
                    .name_container {

                        label {
                            font-size: 1.2rem;
                        }

                        .asterisk {
                            color: red;
                        }

                        #name_field {
                            width: 90%;
                        }
                    }
                    .email_container {

                        label {
                            font-size: 1.2rem;
                        }

                        .asterisk {
                            color: red;
                        }
                        
                        #email_field {
                            width: 90%;
                        }
                    }
                }
                .marketing_text {
                    display: inline-block;
                    font-size: 1.2rem;
                }
                #marketing_box {
                    display: inline;
                }
                
                input[type=text] {
                    border: none;
                    margin: 5px 20px 20px 0px;
                    padding: 12px 8px;
                    border-radius: 0px;
                    color: #333645;
                }
                input[type=text]:focus {
                    outline: none;
                    box-shadow: 0 0 10px #9ecaed;
                }

                .marketing_container {
                    display: flex;
                    position: relative;
                    input[type=checkbox] {
                        display: inline-block;
                        width: 32px;
                        height: 32px;
                        margin-right: 10px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        outline: solid 3px #333645;
                        outline-offset: -2px;
                        transition-duration: 0.1s;
                        border-radius: 3px;
                        flex-shrink: 0;
                        cursor: pointer;
                    }

                    input[type=checkbox]:checked {
                        background-color: #333645;
                    }

                    input:checked + label::before {
                        content: '\2713';
                        display: block;
                        text-align: center;
                        font-weight: bold;
                        color: white;
                        position: absolute;
                        left: 13px;
                        top: 4px;

                    }

                    .marketing_text {
                        display: inline-block;
                        color: #333645;
                        a {
                            color: #333645;
                        }
                    }
                }
                

                input[type=submit] {
                    margin: 15px 15px 15px 0px;
                    background-color: #333645;
                    color: white;
                    font-size: 1.15rem;
                    padding: 15px 15px;
                    border-radius: 3px;
                    border-style: none;
                }

                input[type=submit]:hover {
                    background-color: #191a22;
                    cursor: pointer;
                }
            }
        }
    }
}



@media screen and (min-width: 1070px) {
    .form_background {
        
        .form_container {
            width: 1050px;
            max-width: none;
            justify-content: center;
            margin: auto auto;
        }
    }
    
}

@media screen and (min-width: 1640px) {
    .form_background {
        
        .form_container {
            width: 1200px;
            justify-content: center;
            margin: auto auto;
        }
    }
    
}