// Services

.services_container {
    .services_heading {
        padding-left: 15%;
        h1 {
            color: #333645;
        }
    }
    //Software
    .services_card_container {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
        .services_card_bespoke {
            @include service_card;
            .fa-th {
                border: 2px solid #67809f;
                border-radius: 50%;
                background: #67809f;
                padding: 20px;
            }
            .card_heading {
               color: #333645;
               font-size: 100%; 
            }
            span {
                display:block;
                width: 40px; 
                border-top: 2px solid rgb(0, 0, 0);
            }
            .bespoke_text {
                padding: 20px;
                text-align: center;
            }
            .read_btn{
                padding: 15px;
                color: white;
                background-color: #67809f;
                border-radius: 10%;
            }
        }
        // IT
        .services_card_it {
            @include service_card;
            .fa-desktop {
                border: 2px solid #4183d7;
                border-radius: 50%;
                background: #4183d7;
                padding: 20px;
            }.card_heading {
                color: #333645;
                font-size: 100%; 
            }
            span {
                display:block;
                width: 40px; 
                border-top: 2px solid rgb(0, 0, 0);
            }
            .it_text {
                padding: 20px;
                text-align: center;
            }
            .read_btn{
                padding: 15px;
                color: white;
                background-color: #4183d7;
                border-radius: 10%;
            }
        }
        // Marketing
        .services_card_marketing {
            @include service_card;
            .fa-bar-chart {
                border: 2px solid #2ecc71;
                border-radius: 50%;
                background: #2ecc71;
                padding: 20px;
            }.card_heading {
                color: #333645;
                font-size: 100%; 
            }
            span {
                display:block;
                width: 40px; 
                border-top: 2px solid rgb(0, 0, 0);
            }
            .it_text {
                padding: 20px;
                text-align: center;
            }
            .read_btn{
                padding: 15px;
                color: white;
                background-color: #2ecc71;
                border-radius: 10%;
            }
        }
    }
    //Tele
    .services_card_container_row_2 {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
        .services_card_tele {
            @include service_card;
            .fa-phone {
                border: 2px solid #d64541;
                border-radius: 50%;
                background: #d64541;
                padding: 20px;
            }
            .card_heading {
               color: #333645;
               font-size: 100%; 
            }
            span {
                display:block;
                width: 40px; 
                border-top: 2px solid rgb(0, 0, 0);
            }
            .tele_text {
                padding: 20px;
                text-align: center;
            }
            .read_btn{
                padding: 15px;
                color: white;
                background-color: #d64541;
                border-radius: 10%;
            }
        }
        // Web
        .services_card_web {
            @include service_card;
            .fa-code {
                border: 2px solid #926fb1;
                border-radius: 50%;
                background: #926fb1;
                padding: 20px;
            }.card_heading {
                color: #333645;
                font-size: 100%; 
            }
            span {
                display:block;
                width: 40px; 
                border-top: 2px solid rgb(0, 0, 0);
            }
            .web_text {
                padding: 20px;
                text-align: center;
            }
            .read_btn{
                padding: 15px;
                color: white;
                background-color: #926fb1;
                border-radius: 10%;
            }
        }
        // Cyber
        .services_card_cyber {
            @include service_card;
            .fa-shield {
                border: 2px solid #f62459;
                border-radius: 50%;
                background: #f62459;
                padding: 20px;
            }.card_heading {
                color: #333645;
                font-size: 100%; 
            }
            span {
                display:block;
                width: 40px; 
                border-top: 2px solid rgb(0, 0, 0);
            }
            .cyber_text {
                padding: 20px;
                text-align: center;
            }
            .read_btn{
                padding: 15px;
                color: white;
                background-color: #f62459;
                border-radius: 10%;
            }
        }
        // Development
        .services_card_dev {
            @include service_card;
            .fa-graduation-cap {
                border: 2px solid #ce4125;
                border-radius: 50%;
                background: #ce4125;
                padding: 20px;
            }.card_heading {
                color: #333645;
                font-size: 100%; 
            }
            span {
                display:block;
                width: 40px; 
                border-top: 2px solid rgb(0, 0, 0);
            }
            .dev_text {
                padding: 20px;
                text-align: center;
            }
            .read_btn{
                padding: 15px;
                color: white;
                background-color: #ce4125;
                border-radius: 10%;
            }
        }
    }
}

// Media Queries


@media screen and (min-width: 1024px) {
    .services_container {
        .services_card_container {
            grid-template-columns: 1fr 1fr 1fr;
            padding-left: 15%;
            padding-right: 15%;
        }
        .services_card_container_row_2 {
            grid-template-columns: 1fr 1fr;
            padding-left: 15%;
            padding-right: 15%;
        }
    } 
       
}

@media screen and (min-width: 1640px) {
    .services_container {
        .services_card_container_row_2 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding-left: 15%;
            padding-right: 15%;
        }
    }
}