// Partners Section

.partner_container {
    display: none;
    .partner_images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        margin: 40px 15%;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            filter: saturate(0);
            object-fit: contain;

        }

        img:hover {
            filter: saturate(100%);
        }
    }
}

// Media Queries

@media screen and (min-width: 888px) {
    
    .partner_container {
        display: block;

    }
}